In [1]:
import networkx as nx
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import math

In [2]:
import Tr_centrality_measure

In [3]:
TC_table = pd.DataFrame(Tr_centrality_measure.TC_Rank, columns = ('TC','TC_i'))
TC_table.index = TC_table.index + 1
Top_TC_table = pd.DataFrame(TC_table.loc[0:10])

In [4]:
Top_TC_table
#Top_TC_table.to_csv('result/top_email.csv')#save top three of(TC)

    TC    TC_i
1   46  0.4107
2   15  0.4074
3   34  0.3958
4   38  0.3913
5   14  0.3864
6   58  0.3750
7   52  0.3611
8   10  0.3611
9   19  0.3529
10  18  0.3333

In [5]:
#concatinate all the Ranking together.
cent = pd.read_csv('result/top_cent_doll.csv')
tc = pd.read_csv('result/top_doll.csv')
all_in = pd.concat([cent,tc], axis=1, sort=False)

Top_all_table = pd.DataFrame(all_in.loc[0:10])
ranking_table_all_in = pd.concat([Top_all_table['TR'], Top_all_table['BC'],Top_all_table['CNC'],
                                  Top_all_table['DC'], Top_all_table['EC'],Top_all_table['PR'],
                                  Top_all_table['TC']], 
                                 axis=1, sort=False)
ranking_table_all_in.index = ranking_table_all_in.index + 1

print("Rank Table")
ranking_table_all_in

Rank Table

    TR  BC  CNC  DC  EC  PR  TC
1   15  37   37  15  15  52  35
2   46   2   41  38  38  18   3
3   34  41   38  46  46  58  40
4   14  38   21  52  34  34  34
5   58   8   15  34  51  30  27
6   38  18    2  18  30  15  29
7   52  21   29  58  52  39  24
8   10  55    8  21  17  46  26
9   19  52   34  30  41  38  48
10  30  58    9  41  22   2   9

In [6]:
#ranking_table_all_in.to_csv('result/top_doll_all.csv')#save top three of(all rank)

## Kd correlation

In [7]:
# calculate the kendall's correlation between variables
kd = ranking_table_all_in.corr(method ='kendall')
#kd.to_csv('result/kdcorr_matrix_amazon.csv')
#kd

In [8]:
#PLOT CORRELATION
corr1 = pd.read_csv('result/kdcorr_matrix_amazon.csv')
corr = corr1.drop(['Unnamed: 0'], axis=1)
corr

FileNotFoundError: File b'result/kdcorr_matrix_amazon.csv' does not exist