In [1]:
import networkx as nx
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import math

In [2]:
import Tr_centrality_measure

In [3]:
TC_table = pd.DataFrame(Tr_centrality_measure.TC_Rank, columns = ('TC','TC_i'))
TC_table.TC = TC_table.TC + 1
TC_table.index = TC_table.index + 1
Top_Five_TC_table = pd.DataFrame(TC_table.loc[0:10])

In [12]:
#Top_Five_TC_table
#Top_Five_TC_table.to_csv('result/top_kc.csv')#save top three of(TC)

In [16]:
#concatinate all the Ranking together.
cent = pd.read_csv('result/top_cent_kc.csv')
tc = pd.read_csv('result/top_kc.csv')
all_in = pd.concat([cent,tc], axis=1, sort=False)

Top_all_table = pd.DataFrame(all_in.loc[0:10])
ranking_table_all_in = pd.concat([Top_all_table['TR'], Top_all_table['BC'],Top_all_table['CNC'],
                                  Top_all_table['DC'], Top_all_table['EC'],Top_all_table['PR'],
                                  Top_all_table['TC']], 
                                 axis=1, sort=False)

print("Rank Table")
ranking_table_all_in

Rank Table

   TR  BC  CNC  DC  EC  PR  TC
0   1   1    1  34  34  34   1
1  34  34    3   1   1   1  34
2  33  33   34  33   3  33  33
3   2   3   32   3  33   2   2
4   3  32    9   2   2   3   3
5   4   9   14   4   9  32   4
6   8   2   33  32  14   4   8
7  14  14   20   9   4   6   9
8   9  20    2  14  32   7  14
9  24   6    4  24  31  24  24

## Kd correlation

In [21]:
# calculate the kendall's correlation between variables
kd = ranking_table_all_in.corr(method ='kendall')
#kd.to_csv('result/usair/correlation/kdcorr_matrix_usair.csv')
#kd