In [1]:
import networkx as nx
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import math

In [2]:
import Tr_centrality_measure

In [3]:
TC_table = pd.DataFrame(Tr_centrality_measure.TC_Rank, columns = ('TC','TC_i'))
TC_table.index = TC_table.index + 1
#Top_TC_table = pd.DataFrame(TC_table.loc[0:10])

In [11]:
#TC_table
#TC_table.to_csv('result/ns.csv')#save top three of(TC)

In [12]:
#concatinate all the Ranking together.
cent = pd.read_csv('result/cent_ns.csv')
tc = pd.read_csv('result/ns.csv')
all_in = pd.concat([cent,tc], axis=1, sort=False)

Top_all_table = all_in#pd.DataFrame(all_in.loc[0:17])
ranking_table_all_in = pd.concat([Top_all_table['TR'], Top_all_table['BC'],Top_all_table['CNC'],
                                  Top_all_table['DC'], Top_all_table['EC'],Top_all_table['PR'],
                                  Top_all_table['TC']], 
                                 axis=1, sort=False)
ranking_table_all_in.index = ranking_table_all_in.index + 1

print("Rank Table")

#ranking_table_all_in

Rank Table

In [9]:
#ranking_table_all_in.to_csv('result/ns_all.csv')#save top three of(all rank)

## Kd correlation

In [10]:
# calculate the kendall's correlation between variables
kd = ranking_table_all_in.corr(method ='kendall')
#kd.to_csv('result/kdcorr_matrix_ns.csv')
#kd

In [13]:
#PLOT CORRELATION
corr1 = pd.read_csv('result/kdcorr_matrix_ns.csv')
corr = corr1.drop(['Unnamed: 0'], axis=1)
corr

         TR        BC       CNC        DC        EC        PR        TC
0  1.000000  0.191288  0.034465  0.359457  0.050067  0.075396  0.518700
1  0.191288  1.000000  0.063584  0.193409  0.071752  0.165216  0.074258
2  0.034465  0.063584  1.000000  0.033263  0.168954  0.014207  0.109002
3  0.359457  0.193409  0.033263  1.000000 -0.002224 -0.010728  0.129348
4  0.050067  0.071752  0.168954 -0.002224  1.000000 -0.025980  0.033668
5  0.075396  0.165216  0.014207 -0.010728 -0.025980  1.000000  0.121322
6  0.518700  0.074258  0.109002  0.129348  0.033668  0.121322  1.000000