In [1]:
import networkx as nx
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import math

In [2]:
import Tr_centrality_measure

In [3]:
TC_table = pd.DataFrame(Tr_centrality_measure.TC_Rank, columns = ('TC','TC_i'))
TC_table.index = TC_table.index + 1
Top_TC_table = pd.DataFrame(TC_table.loc[0:10])

In [10]:
Top_TC_table
#Top_TC_table.to_csv('result/amazon.csv')#save top three of(TC)

        TC    TC_i
1   436020  0.4966
2   515301  0.4965
3   458358  0.4962
4   502784  0.4961
5   296016  0.4961
6   399944  0.4958
7   430936  0.4958
8   239107  0.4956
9   199628  0.4955
10   98756  0.4953

In [5]:
#concatinate all the Ranking together.
cent = pd.read_csv('result/top_cent_power.csv')
tc = pd.read_csv('result/top_power.csv')
all_in = pd.concat([cent,tc], axis=1, sort=False)

Top_all_table = pd.DataFrame(all_in.loc[0:10])
ranking_table_all_in = pd.concat([Top_all_table['TR'], Top_all_table['BC'],Top_all_table['CNC'],
                                  Top_all_table['DC'], Top_all_table['EC'],Top_all_table['PR'],
                                  Top_all_table['TC']], 
                                 axis=1, sort=False)
ranking_table_all_in.index = ranking_table_all_in.index + 1

print("Rank Table")

ranking_table_all_in

Rank Table

      TR    BC   CNC    DC    EC    PR    TC
1   4363  4148  1268  2682  4361   818  4345
2   4327  2504  2554  4447  4327  4447  4384
3   4333  1200  2570   818  4319  3413  4352
4   4361  4205  1202  3413  4317  2682  4381
5   4353  2490  2571  4327  4333  1179  4373
6   4373  1223  1200  2365  4363   581  4395
7   4317  1268  1444  2503  4384  2532  2585
8   4319  1203  2520  2532  4330  2419  2553
9   4330   414  2490  2544  4373  2365  4332
10  4341  2571  2521  3876  4353  2615  4336

In [6]:
#ranking_table_all_in.to_csv('result/top_power_all.csv')#save top three of(all rank)

## Kd correlation

In [7]:
# calculate the kendall's correlation between variables
kd = ranking_table_all_in.corr(method ='kendall')
#kd.to_csv('result/kdcorr_matrix_amazon.csv')
#kd

In [8]:
#PLOT CORRELATION
corr1 = pd.read_csv('result/kdcorr_matrix_kc.csv')
corr = corr1.drop(['Unnamed: 0'], axis=1)
corr

         TR        BC       CNC        DC        EC        PR        TC
0  1.000000  0.511111  0.111111  0.022222 -0.466667  0.022222  0.955556
1  0.511111  1.000000 -0.022222 -0.377778 -0.688889 -0.200000  0.555556
2  0.111111 -0.022222  1.000000  0.111111 -0.200000 -0.066667  0.066667
3  0.022222 -0.377778  0.111111  1.000000  0.333333  0.644444  0.066667
4 -0.466667 -0.688889 -0.200000  0.333333  1.000000  0.244444 -0.422222
5  0.022222 -0.200000 -0.066667  0.644444  0.244444  1.000000  0.066667
6  0.955556  0.555556  0.066667  0.066667 -0.422222  0.066667  1.000000