In [1]:
import networkx as nx
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import math

In [2]:
import Tr_centrality_measure

In [3]:
TC_table = pd.DataFrame(Tr_centrality_measure.TC_Rank, columns = ('TC','TC_i'))
TC_table.index = TC_table.index + 1
#Top_TC_table = pd.DataFrame(TC_table.loc[0:10])

In [4]:
TC_table
#TC_table.to_csv('result/kc.csv')#save top three of(TC)

    TC    TC_i
1    0  0.4219
2   33  0.4138
3   32  0.4000
4    1  0.3750
5    2  0.3611
6    3  0.3438
7    7  0.2500
8    8  0.2500
9   13  0.2500
10  23  0.1875
11  29  0.1875
12  31  0.1875
13   5  0.1429
14   6  0.1429
15  30  0.0833
16   4  0.0000
17  10  0.0000

In [9]:
#concatinate all the Ranking together.
cent = pd.read_csv('result/cent_kc.csv')
tc = pd.read_csv('result/kc.csv')
all_in = pd.concat([cent,tc], axis=1, sort=False)

Top_all_table = all_in#pd.DataFrame(all_in.loc[0:17])
ranking_table_all_in = pd.concat([Top_all_table['TR'], Top_all_table['BC'],Top_all_table['CNC'],
                                  Top_all_table['DC'], Top_all_table['EC'],Top_all_table['PR'],
                                  Top_all_table['TC']], 
                                 axis=1, sort=False)
ranking_table_all_in.index = ranking_table_all_in.index + 1

print("Rank Table")

ranking_table_all_in

Rank Table

    TR  BC  CNC  DC  EC  PR    TC
1    0   0    0  33  33  33   0.0
2   33  33    2   0   0   0  33.0
3   32  32   33  32   2  32  32.0
4    1   2   31   2  32   1   1.0
5    2  31    8   1   1   2   2.0
6    3   8   13   3   8  31   3.0
7    7   1   32  31  13   3   7.0
8   13  13   19   8   3   5   8.0
9    8  19    1  13  31   6  13.0
10  23   5    3  23  30  23  23.0
11  29   6   27   5   7  29  29.0
12   5  27   30   6  23  27  31.0
13   6  23   28   7  19   8   5.0
14  30  30    7  27  29  24   6.0
15  31   3    9  29  27  13  30.0
16   4  25   23  30  28   4   4.0
17  10  29    5   4   9  10  10.0
18  12  24    6  10  14  25   NaN
19  14  28   29  19  15  30   NaN
20  15   9    4  24  18   7   NaN
21  16   4   10  25  20  16   NaN
22  17  10   17  28  22  28   NaN
23  18   7   21   9  17  19   NaN
24  19  11   24  12  21  26   NaN
25  20  12   25  14  12  12   NaN
26  21  14   12  15   5  17   NaN
27  22  15   14  16   6  21   NaN
28  24  16   15  17   4  14   NaN
29  25  17   18  18  10  15   NaN
30  26  18   20  20  26  18   NaN
31  27  20   22  21  25  20   NaN
32  28  21   11  22  24  22   NaN
33   9  22   26  26  11   9   NaN
34  11  26   16  11  16  11   NaN

In [11]:
#ranking_table_all_in.to_csv('result/kc_all.csv')#save top three of(all rank)

## Kd correlation

In [7]:
# calculate the kendall's correlation between variables
kd = ranking_table_all_in.corr(method ='kendall')
#kd.to_csv('result/kdcorr_matrix_amazon.csv')
#kd

In [8]:
#PLOT CORRELATION
corr1 = pd.read_csv('result/kdcorr_matrix_kc.csv')
corr = corr1.drop(['Unnamed: 0'], axis=1)
corr

         TR        BC       CNC        DC        EC        PR        TC
0  1.000000  0.511111  0.111111  0.022222 -0.466667  0.022222  0.955556
1  0.511111  1.000000 -0.022222 -0.377778 -0.688889 -0.200000  0.555556
2  0.111111 -0.022222  1.000000  0.111111 -0.200000 -0.066667  0.066667
3  0.022222 -0.377778  0.111111  1.000000  0.333333  0.644444  0.066667
4 -0.466667 -0.688889 -0.200000  0.333333  1.000000  0.244444 -0.422222
5  0.022222 -0.200000 -0.066667  0.644444  0.244444  1.000000  0.066667
6  0.955556  0.555556  0.066667  0.066667 -0.422222  0.066667  1.000000