In [1]:
import networkx as nx
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import math

In [2]:
import Tr_centrality_measure
import Graph_Entropy_measure
import Selection_Algorithm
import Constraint_Coefficient

### Compute the three Measures

In [3]:
#calculate PI and make the PI to have all positive result

PI_table1 = pd.DataFrame(Graph_Entropy_measure.PI_Rank, columns = ('PI','PI_i'))
PI_table = PI_table1.copy()
i = math.sqrt(2)
PI_table.PI_i = PI_table.PI_i.where(lambda x: x > 0, lambda x: x + i)

#calculate  TC 

TC_table = pd.DataFrame(Tr_centrality_measure.TC_Rank, columns = ('TC','TC_i'))
#calculate  CC

CC_table = pd.DataFrame(Constraint_Coefficient.sorted_x, columns = ('CC','CC_i'))

#joint the three "PI,C,TC" table together

Result_table = pd.concat([TC_table, PI_table, CC_table], axis=1, sort=False)

#create a table containing the Top three Rank Nodes

Top_three = pd.DataFrame(Result_table.loc[0:4])

In [4]:
Top_three

   TC  TC_i  PI      PI_i  CC      CC_i
0   0    55   0  0.047863   0  0.155423
1  33    52  33  0.054788  33  0.156419
2  32    44  32  0.062682   2  0.185177
3   1    31   1  0.069879  31  0.244575
4   2    27   2  0.076644  32  0.249223

In [5]:
#Result_table

### Compute the Total Power of Node

In [6]:
#return the total power of node i.
def TPN(i):
    PI_ofi = 1/Graph_Entropy_measure.PI_of(i)
    TC_ofi = Tr_centrality_measure.TC_of(i)
    CC_ofi = Constraint_Coefficient.CC_of(i)
    
    #Weight to normalize the measures[0.6,0.2,0.2]
    #equation [Total Power of Node]
    TPN_i  = (0.6*TC_ofi)+(0.2*PI_ofi)+(0.2*CC_ofi)     

    return TPN_i

### Loop and Rank Total Power of Node all i

In [7]:
def loop_TPN():
    i=0    
    #concantinate the unique nodes in top_three ranking, with will remove duplicate 
    unique_top_three = list(pd.concat([Top_three['TC'], Top_three['PI'], Top_three['CC']]).unique())
    
    TPN_listing =[]    
    for i in unique_top_three:          
        TPN_ = TPN(i)
        i_TPN = [i, TPN_]
        TPN_listing.append(i_TPN)
    return  TPN_listing

In [8]:
#Ranking the total power of node i
def TPN_Ranking( val ):
      return val [1]

TPN_Rank = loop_TPN()
TPN_Rank.sort(key=lambda elem: elem[1], reverse=True)

#### Creat a rank table  for TPN

In [9]:
#return table containing the TPN ranking[TPN_table]

TPN = pd.DataFrame(TPN_Rank, columns = ('TPN','TPN_i'))
TPN.index = TPN.index + 1

TPN

   TPN      TPN_i
1    0  11.102827
2   33  10.504809
3   32   8.962070
4    1   6.381697
5    2   5.526435
6   31   2.788759

#### Creat a rank table  for ALL the three [PI,CC,TC] Measures

In [10]:
#return table containing ALL the Measures
Propose_Result_table = pd.concat([TC_table, PI_table, CC_table, TPN], axis=1, sort=False)
Top_rank = pd.DataFrame(Propose_Result_table.loc[0:4])

#return table containing Top_rank node ranking
top_rank_table = pd.concat([Top_rank['TC'], Top_rank['PI'],  Top_rank['CC'],Top_rank['TPN']], axis=1, sort=False)

#print(top_rank_table)

#### Save CSV file

In [11]:
#Result_table.to_csv('rank_result/kc--/propose/propose_result_table_kc.csv')#save the value of (TC,TC_i),(PI,PI_i),(CC,CC_i)
#top_rank_table.to_csv('rank_result/kc--/propose/top_rank_table_kc.csv')#save top three of(TC,PI,CC,TPN)